<H1>Ma Todolist</H1>
<%= for(var i=0; i< list.length;i++){ %>
<%= i %>
<% }%>

<p>Que dois-je faire ? </p>
<form action="/hb">
    <input id="t" type="text">
    <input type="submit" value="Valider">
</form>
